.vscode/c_cpp_properties.json
.vscode/settings.json
reader
*.o
myprogram
myprogram
languagepacks.json
logs/20260901T000447/window1/exthost/vscode.git/Git.log
logs/20260901T000447/window1/exthost/vscode.github/GitHub.log
logs/20260901T000447/window1/exthost/vscode.github/GitHub.log
logs/20260901T000447/window1/exthost/vscode.github-authentication/GitHub Authentication.log
logs/20260901T000447/window1/exthost/vscode.github-authentication/GitHub Authentication.log
logs/20260901T000447/window1/exthost/exthost.log
logs/20260901T000447/window1/exthost/extHostTelemetry.log
logs/20260901T000447/window1/output_20260901T000448/tasks.log
logs/20260901T000447/window1/output_20260901T000448/tasks.log
logs/20260901T000447/window1/output_20260901T000514/tasks.log
logs/20260901T000447/window1/output_20260901T000514/tasks.log
logs/20260901T000447/window1/network.log
logs/20260901T000447/window1/notebook.rendering.log
logs/20260901T000447/window1/renderer.log
logs/20260901T000447/window1/textModelChanges.log
logs/20260901T000447/window1/views.log
logs/20260901T000447/editSessions.log
logs/20260901T000447/main.log
logs/20260901T000447/network-shared.log
logs/20260901T000447/remoteTunnelService.log
logs/20260901T000447/sharedprocess.log
logs/20260901T000447/telemetry.log
logs/20260901T000447/terminal.log
logs/20260901T000447/userDataSync.log
User/globalStorage/state.vscdb
User/globalStorage/state.vscdb.backup
User/globalStorage/storage.json
User/workspaceStorage/1788246288331/state.vscdb
User/workspaceStorage/1788246288331/state.vscdb.backup
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/state.vscdb
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/state.vscdb.backup
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/workspace.json
User/globalStorage/state.vscdb
User/globalStorage/state.vscdb.backup
User/globalStorage/storage.json
User/globalStorage/state.vscdb
User/globalStorage/state.vscdb.backup
User/globalStorage/storage.json
User/workspaceStorage/1788246288331/state.vscdb
User/workspaceStorage/1788246288331/state.vscdb.backup
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/state.vscdb
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/state.vscdb.backup
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/workspace.json
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/state.vscdb
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/state.vscdb.backup
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/workspace.json
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/state.vscdb
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/state.vscdb.backup
User/workspaceStorage/9e41a6e7f4d62ddd14602c1fd5a02d7e/workspace.json
User/workspaceStorage/1788246288331/state.vscdb
User/workspaceStorage/1788246288331/state.vscdb.backup
User/workspaceStorage/1788246288331/state.vscdb
User/workspaceStorage/1788246288331/state.vscdb.backup
CachedProfilesData/__default__profile__/extensions.builtin.cache
CachedProfilesData/__default__profile__/extensions.user.cache
